# --- Operating System Junk ---
.DS_Store
Thumbs.db

# --- Visual Studio & C# ---
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo

# --- Python & VS Code ---
__pycache__/
*.py[cod]
.vscode/

# --- Databases ---
*.mdf
*.ldf
*.sqlite3